.btn-clear {
    background-color: transparent;
    border-color: transparent;
  }
  
  .btn-clear:hover {
    background-color: grey;
    border-color: grey;
  }

  .modal-p {
    margin-bottom: 0rem;
  }