.btn-social {
    color: white;
    padding: 20px;
    border-radius: 50%;
  
}
  
.fa-linkedin {
    background-color: #007bb5;
}
  
.fa-envelope {
    background-color: #263238;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.fill-screen {
    height: 100vh;
}

.chewy-font {
    font-family: chewy;
}

.img-max {
    max-height: 180px;
}