
.featurette-heading {
  font-size: 35px;
}

.text-muted {
  color: #6c757d!important;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.featurette-img-align {
  display: flex;
  align-items: center;
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-bottom: 3rem;
  }
}

body {
  padding-bottom: 3rem;
}

.mt-8 {
  margin-top: 8rem !important;
}
